<!-- <p>experiencia works!</p> -->

<div class= "row">
    <h1>Educación</h1>
    <div class = "col-lg-2"></div>
    <div class = "col-lg-10">
        <ul>
            <li> <h2>PONER MI PRIMER ESTUDIO</h2>  - 
            <h3> (años) </h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laborum sint eveniet accusamus deleniti necessitatibus, illo non earum sapiente consequatur voluptates minus ducimus hic voluptatum, ea, quam itaque maiores!</p>

        </ul>
        <ul>
            <li> <h2>PONER MI SEGUNDO ESTUDIO</h2>  - 
            <h3> (años) </h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laborum sint eveniet accusamus deleniti necessitatibus, illo non earum sapiente consequatur voluptates minus ducimus hic voluptatum, ea, quam itaque maiores!</p>

        </ul>
        <ul>
            <li> <h2>PONER MI TERCER ESTUDIO</h2>  - 
            <h3> (años) </h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est laborum sint eveniet accusamus deleniti necessitatibus, illo non earum sapiente consequatur voluptates minus ducimus hic voluptatum, ea, quam itaque maiores!</p>

        </ul>
    </div>


</div>